.ui_helper {
    .i {
        width: 100%;
        margin: 30px 0;

        .title {
            width: 100%;
            margin-bottom: 20px;
            border-bottom: 1px solid #e7ecef;
        }
    }

    .i_l {
        width: 200px;
        height: 200px;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #e7ecef;

        .i_l_c {
            width: 40px;
            height: 40px;
            background-color: #f8fafa;
            border: 1px solid #e7ecef;
        }
    }

    .i_w {
        height: 40px;
        margin: 10px 0;
        background-color: #f8fafa;
        border: 1px solid #e7ecef;
    }

    .i_b,
    .i_bg {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        padding: 10px;
    }

    .i_b {
        background-color: #f8fafa;
    }

    .i_p {
        width: 200px;
        height: 50px;
        margin: 10px 0;
        border: 1px solid #e7ecef;

        .i_p_c {
            width: 100%;
            height: 100%;
            background-color: #f8fafa;
        }
    }

    .i_btn {
        margin: 10px 0;
    }
}
