.footer {
    padding: 100px 0;
    border-top: 1px solid #e6e8ea;

    .f_item{
        width: 200px;
        color: #585858;
        font-size: 14px;
        line-height: 25px;

        .f_item_title{

        }
    }

    .f_item_l{
        width: 400px;
    }
}
