.header_sections {
    width: 100%;
}

.header_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #d5edcb;
    border-bottom: 1px solid #b9e1ab;

    .section {
        margin-bottom: 0 !important;
        @media screen and (max-width: 1024px) {
            width: 100% !important;
            min-width: 768px !important;
        }
    }

    .section_container.header_item_container {
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            justify-content: space-between;
        }
    }

    .navs_box {
        display: flex;
        flex-direction: row;
    }

    .logo_link {
        height: 40px;

        .logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
    .buy_token_btn {
        width: 103px !important;
        height: 32px !important;
        font-size: 14px !important;
        line-height: 20px !important;
        padding: 0 !important;
        margin-right: 16px;
    }

    .navs {
        display: flex;
        margin-left: 20px;

        .nav_menu {
            position: relative;
            list-style: none;

            .tips {
                position: absolute;
                top: 75px;
                right: 0;
                z-index: 3;
                display: none;
                width: auto;
                padding: 12px 20px;
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
                background-color: #1b2022;
                border-radius: 12px;
                box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
            }
        }

        .nav_menu:hover {
            .tips {
                display: table;
            }
        }

        .nav_link {
            position: relative;
            display: block;
            height: 70px;
            margin: 0 8px;
            color: #1b2022;
            font-size: 16px;
            line-height: 70px;
            text-decoration: none;

            @media screen and (min-width: 768px) and (max-width: 1176px) {
                font-size: 14px;
            }

            .border {
                position: absolute;
                bottom: 0;
                left: 0;
                display: none;
                width: 100%;
                height: 3.5px;
                background-color: #31c1bf;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-color: #31c1bf;
            }

            @media screen and (max-width: 1024px) {
                margin: 0 10px;
                font-size: 14px;
            }
        }

        .nav_link.active {
            font-family: 'Switzer-Semibold';

            .border {
                display: block;
            }
        }

        .nav_link.disable {
            color: #abb7bd;
        }

        @media screen and (max-width: 1024px) {
            margin-left: 0;
        }
    }

    .operations {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        font-size: 14px;

        .account_address_wrapper {
            padding: 0;
        }

        .account_box {
            padding: 4px;
        }

        .account_photo {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }

        .account {
            overflow: hidden;
            color: #1b2022;
            white-space: nowrap;
            text-overflow: ellipsis;

            .add {
                margin-right: 3px;
            }
        }

        .account_network_box {
            position: relative;
            z-index: 10;
            border: 1px solid #39842d;
            border-radius: 90px;
            cursor: pointer;

            @media screen and (min-width: 768px) and (max-width: 1176px) {
                line-height: 18px;
            }
        }

        .network_box {
            padding: 4px;
            background-color: #39842d;
            border-left: 1px solid #39842d;
            border-top-right-radius: 90px;
            border-bottom-right-radius: 90px;

            .nw_icon {
                width: 8px;
                height: 8px;
                margin: 0px 4px;
                background: #ffffff;
                border-radius: 4px;
            }

            .nw_name {
                color: #ffffff;
                margin-right: 10px;
                line-height: 24px;
            }
        }

        .balance_box {
            padding: 4px 10px 4px 4px;
            margin-right: 5px;
            border: 1px solid #e7ecef;
            border-radius: 90px;
        }

        .more {
            position: relative;

            .more_icon {
                cursor: pointer;
            }

            .more_pop {
                position: absolute;
                top: 60px;
                right: 0;
                z-index: 101;
                display: none;
                width: 260px;

                padding: 8px;
                background-color: #fff;
                border: 1px solid #e7ecef;
                border-radius: 12px;
            }
            .more_pop > a {
                display: block;
                padding: 8px 20px;
                color: #404b51;
            }
            .more_pop > a:hover {
                color: #404b51;
                background: #f8fafa;
                border-radius: 12px;
            }

            .more_pop_mask {
                position: absolute;
                top: 20px;
                right: 0;
                z-index: 100;
                display: none;
                width: 260px;
                height: 220px;
                opacity: 0;
            }

            .more_pop:hover {
                display: block;
            }

            .m_powered_by {
                display: inline-block;
                width: 100%;
                padding: 0 20px;
                color: #404b51;
                font-size: 16px;
                line-height: 40px;
                border-radius: 12px;
            }

            .m_powered_by:hover {
                background-color: #f8fafa;
            }

            .m_career_box {
                width: 100%;
                margin: 16px 0;
                padding: 0 20px;
            }

            .m_career {
                color: #404b51;
                font-size: 16px;
                line-height: 26px;
            }

            .m_career_sub_box {
                width: 125px;
                margin-left: 8px;
                padding: 0 8px;
                color: #1b2022;
                font-size: 12px;
                font-family: 'Switzer-Semibold';
                line-height: 26px;
                background-color: #fffacf;
                border-radius: 90px;
                cursor: pointer;
            }

            .m_career_box_cycle {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-right: 8px;
                background-color: #ffb400;
                border-radius: 4px;
            }

            .m_email {
                display: inline-block;
                padding: 0 20px;
                color: #31c3bf;
                font-size: 16px;
                line-height: 26px;
            }
        }

        .more:hover {
            .more_pop_mask {
                display: block;
            }

            .more_pop {
                display: block;
            }
        }

        .account_view_pop {
            position: absolute;
            top: 60px;
            right: 0;
            z-index: 101;
            display: none;
            width: 460px;
            padding: 25px;
            background-color: #fff;
            border: 1px solid #e7ecef;
            border-radius: 20px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, 0.05);
            box-sizing: border-box;

            .account_title,
            .transactions_title {
                margin-top: 15px;
                color: #1b2022;
                font-size: 22px;
                font-family: 'Switzer-Semibold';
                line-height: 32px;
            }

            .transactions_title {
                font-size: 18px;
            }

            .account_change_box {
                width: 100%;
                height: 100px;
                padding: 20px;
                font-size: 14px;
                border: 1px solid #e7ecef;
                border-radius: 12px;
                box-sizing: border-box;

                .address {
                    width: 175px;
                    margin-left: 10px;
                    overflow: hidden;
                    color: #404b51;
                    font-size: 18px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .change {
                    padding: 4px 12px;
                    text-align: center;
                    background-color: #fff;
                    border: 1px solid #e7ecef;
                    border-radius: 90px;
                    cursor: pointer;
                }

                .view_on_etherscan_box {
                    margin-left: 15px;
                }
            }
        }

        .account_view_pop:hover {
            display: block;
        }

        .account_view_pop_mask {
            position: absolute;
            top: 30px;
            right: 0;
            z-index: 100;
            display: none;
            width: 460px;
            height: 100px;
            opacity: 0;
        }

        .account_address_wrapper:hover {
            .account_view_pop_mask {
                display: block;
                cursor: auto;
            }

            .account_view_pop {
                display: block;
                cursor: auto;
            }
        }
    }

    .wallet_connect_btn_box {
        margin: 0 10px;
    }
}

.voe_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./img/i_open.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.provision_banner {
    background: #31c1bf;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.provision_banner_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1045px;
    position: relative;
}
.provision_close_btn {
    border: none;
    background: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.provision_banner_title {
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-right: 8px;
}
.provision_learn_more {
    margin: 0px 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-decoration-line: underline;
}
.provision_learn_more:hover,
:visited {
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
}
