.page_404 {
    .back_btn{
        width: 230px;
        height: 38px;
        background-color: #3e71f6;
        border-radius: 10px;
        color: #ffffff;
        line-height: 38px;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
    }
}
